
.sub1
{
  border: 2px solid #ddd;
  margin: 1%;
  padding: 1%;
  width: 30%;
  text-align: center;
  background-color: White;
}
.mainDiv{
  border: 2px solid #000;
  display: flex;
    background-color: MEDIUMSPRINGGREEN;
}
/*media queries */
@media only screen and (max-width:450px){
  .mainDiv{
    border: 2px solid #000;
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
 }
}
@media screen and (min-width:426px) and (max-width:768px){
  .mainDiv{
    border: 2px solid #000;
    display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
 }
}
@media screen and (min-width:769px) and (max-width:1024px){
  .mainDiv{
    border: 2px solid #000;
    display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
 }
}
